[submodule "gray-auth"]
        path = gray-auth
        url = https://github.com/sunday00/grayfield-auth

[submodule "gray-article"]
	path = gray-article
	url = https://github.com/sunday00/grayfield-article

[submodule "gray-blog"]
	path = gray-blog
	url = https://github.com/sunday00/grayfield-blog

[submodule "gray-media"]
	path = gray-media
	url = https://github.com/sunday00/grayfield-media

[submodule "gray-admin"]
	path = gray-admin
	url = https://github.com/sunday00/grayfield-admin


[submodule "gray-front"]
	path = gray-front
	url = https://github.com/sunday00/grayfield-front
